body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.myCard {
    animation: float 3s infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.container {
    background-color: darksalmon;
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
}
